@{
	string name = "Site";
	int number = 12;
	int[] mass = new int[] { 1, 4, 7, 9, 3, 5, 8 };
	bool flag = false;
}

<head>
	<link href="Index.css"/>
	<link href="~/wwwroot/css/Index.css" rel="stylesheet" />
</head>
<p>@name</p>
@if (flag)
{
	<p>@flag</p>
}
else
{
	<p>@flag</p>
}

@foreach(var item in mass)
{
	<p>@item</p>
}